<h1>Admins#new_user</h1>
<p>Find me in app/views/admins/new_user.html.erb</p>
<%= form_for(@user, :url => admins_create_user_path) do |f| %>
  <div class="form-group">
		<%= f.label :name %>
		<%= f.name_field :name, :autofocus => true, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :email %>
		<%= f.email_field :email, :autofocus => true, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :password %>
		<%= f.password_field :password, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation, class: 'form-control' %>
	</div>
		<%= f.submit 'Create User.', :class => 'button right' %>
<% end %>