<td>
	<%= link_to project.name, project %>
</td>
<td>
  <%= form_for(project) do |f| %>
    <%= f.label 'Nombre' %>
    <%= f.text_field :name%>
    <%= f.submit 'Cambiar nombre', :class => 'button-xs' %>
  <% end %>
</td>